# Rename this file to .env
GOOGLE_MAPS_API_URL=http://maps.googleapis.com/maps/api/
GOOGLE_MAPS_API_KEY=#Get it at 'Keys & Credentials' tab after creating the project at https://console.cloud.google.com/